link(rel="import", href="../../../bower_components/polymer/polymer.html")
  
dom-module#vk-app
  link(rel="stylesheet", href="./vk-app.css")
  template
    paper-drawer-panel#navDrawerPanel(responsive-width="1920px")
      paper-header-panel.nav(drawer)
        paper-toolbar
      
      paper-drawer-panel.main-drawer-panel#mainDrawerPanel(main, responsive-width="720px", drawer-toggle-attribute="list-toggle", narrow="{{_isMobile}}", drawer-width="[[_computeListWidth(_isMobile)]]")
        paper-header-panel(drawer)
          paper-toolbar
            paper-icon-button(icon="menu", paper-drawer-toggle)
            
          paper-menu.list(on-iron-activate="_listTap")
            paper-item
            paper-item
            paper-item
            paper-item
            paper-item
            paper-item
        paper-header-panel(main)
          paper-toolbar
            paper-icon-button(icon="arrow-back", list-toggle)
            span(title) Test
            paper-icon-button(icon="more-vert")
script(src="./vk-app.js")
  
