link(rel="import", href="../../../bower_components/polymer/polymer.html")
  
dom-module#vk-app
  link(rel="stylesheet", href="./vk-app.css")
  template
    paper-drawer-panel.main-drawer-panel#mainDrawerPanel(main, responsive-width="720px", drawer-toggle-attribute="list-toggle", narrow="{{_isMobile}}", drawer-width="[[_computeListWidth(_isMobile)]]")
      paper-header-panel(drawer)
        paper-toolbar
          paper-icon-button(icon="menu", paper-drawer-toggle)
        paper-menu.list(on-iron-activate="_listTap")
          template(is="dom-repeat" items="{{dialogs}}")
            paper-item
              iron-image.avatar(src="http://lorempixel.com/400/400")
              paper-item-body
                div.name test
                div.message(secondary) test
      paper-header-panel(main)
        paper-toolbar
          paper-icon-button(icon="arrow-back", list-toggle)
          .title Test
          paper-icon-button(icon="more-vert")
script(src="./vk-app.js")
  
