link(rel="import", href="../../../bower_components/polymer/polymer.html")
  
dom-module#vk-app
  link(rel="stylesheet", href="./vk-app.css")
  template
    paper-drawer-panel(drawer-width="320px", responsive-width="720px")
      paper-header-panel(drawer)
        paper-toolbar
      paper-header-panel(main)
        paper-toolbar
          paper-icon-button(icon="menu", paper-drawer-toggle)
          span(title) Test
          paper-icon-button(icon="more-vert")
script(src="./vk-app.js")
  
