@import '../../styles/variables.scss';
:host {

}

.main-drawer-panel:not([narrow]) [list-toggle] {
  display: none;
}

paper-drawer-panel {
  #drawer {
    background-color: white;

    paper-toolbar {
      background-color: $color-primary-normal;
    }
  }

  #main {
    background-color: $color-bg-normal;

    paper-toolbar {
      background-color: $color-primary-normal;
    }
  }
  .content {
    padding: 16px;
  }
}
