doctype html
html
  head
    title vk-messenger
    script(src="../bower_components/webcomponentsjs/webcomponents.min.js")
    link(rel="import", href="../bower_components/polymer/polymer.html")

    link(rel="import", href="./elements/elements.html")
      
    link(rel="stylesheet", href="./styles/style.css")
  body.fullbleed
    vk-app
